In [ ]:
'''Тесты и примеры работы модуля'''

In [ ]:
''''''

from dbcontrol import dataBase
import host
# Создаем класс БД
#
# Параменты на вход:
#    - Название СУБД
#    - Логин к БД
#    - Пароль
#    - Адрес
#    - Название БД
#    - Порт
#    - Название схемы (для postgres)
db=dataBase('MySQL', host.login, host.password, host.adress, host.dbName, host.port)

In [1]:
'''Работа с таблицами и их классом'''
# Выбираем табличку (для нее создается свой класс)
table = db.select('tableName')
# Вывод 10 строк таблицы
table.showData(10)
# Объединяет две колонки с указ индексами
table.conColumns(1,2)
# Обрамляет значения в указ колонке в еще одни кавычки
table.colToStr(1)
# Возвращает всю таблицу целиком в качестве списка
table.getData()

['1', "'2007-01-01 00:00'", '-1', '', '', '', '', '', '', '']
['1', "'2007-01-02 00:00'", '12', '54', '-14.4', '', '', '', '', '']
['1', "'2007-01-03 00:00'", '20', '50.7', '-27.5', '', '', '', '', '']
['1', "'2007-01-04 00:00'", '10', '50', '-21', '', '', '', '', '']
['1', "'2007-01-05 00:00'", '6', '56.9', '-40', '', '', '', '', '']
['1', "'2007-01-06 00:00'", '4', '56.9', '-32', '', '', '', 'Близнецов', '']
['1', "'2007-01-07 00:00'", '14', '56.9', '-26.4', '', '', '', '', '']
['1', "'2007-01-08 00:00'", '8', '56.9', '-13', '', '', '', '', '']
['1', "'2007-01-09 00:00'", '3', '34.6', '-21', '', '', '', '', '']
['1', "'2007-01-10 00:00'", '7', '63', '-17', '', '', '', '', '']
INSERT INTO satelliteObservation ("name1","name2","name3","name4") values (1,'2007-01-01 00:00',-1,Null,Null,Null,Null,Null,Null,Null)
INSERT INTO satelliteObservation ("name1","name2","name3","name4") values (1,'2007-01-02 00:00',12,54,-14.4,Null,Null,Null,Null,Null)
INSERT INTO satelliteObservation ("name1","name2","name3","name4") values (1,'2007-01-03 00:00',20,50.7,-27.5,Null,Null,Null,Null,Null)
INSERT INTO satelliteObservation ("name1","name2","name3","name4") values (1,'2007-01-04 00:00',10,50,-21,Null,Null,Null,Null,Null)
INSERT INTO satelliteObservation ("name1","name2","name3","name4") values (1,'2007-01-05 00:00',6,56.9,-40,Null,Null,Null,Null,Null)
INSERT INTO satelliteObservation ("name1","name2","name3","name4") values (1,'2007-01-06 00:00',4,56.9,-32,Null,Null,Null,Близнецов,Null)
INSERT INTO satelliteObservation ("name1","name2","name3","name4") values (1,'2007-01-07 00:00',14,56.9,-26.4,Null,Null,Null,Null,Null)
INSERT INTO satelliteObservation ("name1","name2","name3","name4") values (1,'2007-01-08 00:00',8,56.9,-13,Null,Null,Null,Null,Null)
INSERT INTO satelliteObservation ("name1","name2","name3","name4") values (1,'2007-01-09 00:00',3,34.6,-21,Null,Null,Null,Null,Null)
INSERT INTO satelliteObservation ("name1","name2","name3","name4") values (1,'2007-01-10 00:00',7,63,-17,Null,Null,Null,Null,Null)

In [ ]:
'''Импорт данных'''
# Вставляет в указанную таблицу принимаемые значения, в соответствии с заданными параметрами
# listOfColNames - список названий полей для вставки
#
# Пример получаемого запроса
# INSERT INTO tableName ("name1","name2","name3","name4") values (1,'hello',-1,Null)
db.importData('tableName', listOfColNames, table.getData())

In [ ]:
'''Работа с главным классом ДБ'''